{% extends 'layout.html' %}

{% block title %}View Charity{% endblock %}

{% block content %}

    <!-- Back Button -->
    <p></p>
    {{ macros.back_button() }}

    <div class="centered-container">

        <div class="d-flex flex-column align-items-start">

            <!-- Donation Information Container -->
            <div class="d-flex justify-content-between align-items-center">
                <!-- Total Donations -->
                <div class="alert alert-info mb-0" role="alert">
                    {% if total_donations > 0 %}
                        <p class="lead mb-0"><i class="bi bi-check-circle-fill"></i> Total Donations Received so far:
                            <strong>$<span id="total-donations">0</span></strong></p>
                    {% else %}
                        <p class="lead mb-0"><i class="bi bi-emoji-frown-fill"></i> This charity hasn't received any
                            donations yet. Please help them.</p>
                    {% endif %}
                </div>
                <!-- Donate Button for Approved Charity Only -->
                {% if charity.approved == 1 %}
                    <div class="ml-3">
                        <a href="{{ url_for('donation.donate', charity_id=charity.charity_id) }}"
                           class="btn btn-lg btn-warning">
                            <i class="bi bi-heart-fill" style="color:red;"></i> Donate
                        </a>
                    </div>
                {% endif %}
            </div>
            <hr>

            <div class="card" style="width: 60rem;">

                <!-- Charity Image -->
                <img src="{{ charity['charity_image'] }}" alt="Charity Banner" class="img-fluid fixed-height"
                     class="card-img-top" alt="...">
                <div class="card-body">

                    <!-- Charity Title and Status -->
                    <h3 class="card-title"><strong>{{ charity['charity_name'] }}</strong></h3>
                    <span class="badge bg-primary status-badge" data-bs-toggle="tooltip" data-bs-placement="top"
                          title="{{ status_message }}">{{ approved }}</span>


                    <!-- Charity Description -->
                    <p class="card-text"><strong>Charity Description: </strong>{{ charity['charity_description'] }}</p>
                </div>

                <ul class="list-group list-group-flush">

                    <!-- Charity Services Registration Number -->
                    <li class="list-group-item"><strong>Charity Services Registration
                        Number: </strong>{{ charity['reg_num'] }}</li>

                    <!-- Charity Bank Account Number -->
                    <li class="list-group-item"><strong>Charity Bank Account Number: </strong>{{ charity['bank_acc'] }}
                    </li>

                    <!-- Charity IRD Number -->
                    <li class="list-group-item"><strong>Charity IRD Number: </strong>{{ charity['ird_num'] }}</li>
                </ul>
            </div>

        </div>

    </div>
    <script>
        const total_donations = {{ total_donations }};
        document.addEventListener('DOMContentLoaded', function() {
            showDonations();
        })

        function showDonations() {
            const totalDonations = document.getElementById('total-donations');
            animateNumber(totalDonations, total_donations, 500, {decimalPlaces: 2});
        }
    </script>
    <style>
        .centered-container {
            display: flex;
            justify-content: center;
        }

        .fixed-height {
            height: 200px;
            width: auto;
            object-fit: cover;
        }

        .d-flex.align-items-start {
            align-items: flex-start !important;
        }

        .text-container,
        .description-container {
            text-align: left !important;
        }

        .d-flex {
            display: flex;
        }

        .justify-content-between {
            justify-content: space-between;
        }

        .align-items-center {
            align-items: center;
        }

        .alert {
            margin-bottom: 0;
        }

        .ml-3 {
            margin-left: 1rem; /* Adjust the margin value as needed */
        }
    </style>

{% endblock %}